<div class="boarding">
  {{#with parting}}
    <div class="boarding-card">
      <div class="boarding-head">
        <span class="label">Outbound</span>
        <span class="meta">Duration:
          {{duration}}{{#if stops}} • {{stops}} stop/s{{/if}}</span>
      </div>
      <div class="boarding-main">
        <div class="from">
          {{#each segments}}
            {{#if @first}}
              <div class="code">{{fromCode}}</div>
              <div class="time">{{departTime}}</div>
              <div class="city">{{fromCity}}</div>
            {{/if}}
          {{/each}}
        </div>
        <div class="arrow">→</div>
        <div class="to">
          {{#each segments}}
            {{#if @last}}
              <div class="code">{{toCode}}</div>
              <div class="time">{{arrivalTime}}</div>
              <div class="city">{{toCity}}</div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="boarding-info">
        <div>
          <div class="k">Flight</div>
          <div class="v">{{#each segments}}{{#if
                @first
              }}{{flight}}{{/if}}{{/each}}</div>
        </div>
        <div>
          <div class="k">Seats</div>
          <div class="v">{{#each segments}}{{#if @first}}{{#each
                  seats
                }}{{this}}{{#unless @last}},
                  {{/unless}}{{/each}}{{/if}}{{/each}}</div>
        </div>
      </div>
    </div>
  {{/with}}

  {{#with returning}}
    <div class="boarding-card">
      <div class="boarding-head">
        <span class="label">Return</span>
        <span class="meta">Duration:
          {{duration}}{{#if stops}} • {{stops}} stop/s{{/if}}</span>
      </div>
      <div class="boarding-main">
        <div class="from">
          {{#each segments}}
            {{#if @first}}
              <div class="code">{{fromCode}}</div>
              <div class="time">{{departTime}}</div>
              <div class="city">{{fromCity}}</div>
            {{/if}}
          {{/each}}
        </div>
        <div class="arrow">→</div>
        <div class="to">
          {{#each segments}}
            {{#if @last}}
              <div class="code">{{toCode}}</div>
              <div class="time">{{arrivalTime}}</div>
              <div class="city">{{toCity}}</div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="boarding-info">
        <div>
          <div class="k">Flight</div>
          <div class="v">{{#each segments}}{{#if
                @first
              }}{{flight}}{{/if}}{{/each}}</div>
        </div>
        <div>
          <div class="k">Seats</div>
          <div class="v">{{#each segments}}{{#if @first}}{{#each
                  seats
                }}{{this}}{{#unless @last}},
                  {{/unless}}{{/each}}{{/if}}{{/each}}</div>
        </div>
      </div>
    </div>
  {{/with}}
</div>