<ul class="flight-list">
    {{#each list}}
        <li>
            <input id="{{../name}}-{{id}}" class="d-none" type="radio" name="{{../name}}" value="{{id}}" {{#if @first}}checked{{/if}} />
            <label class="flight-card" for="{{../name}}-{{id}}">
                <div class="flight-main">
                    <div class="flight-times">
                        {{#each segments}}
                            {{#if @first}}<span class="time">{{departTime}}</span> <span class="code">{{fromCode}}</span>{{/if}}
                        {{/each}}
                        <span class="arrow">→</span>
                        {{#each segments}}
                            {{#if @last}}<span class="time">{{arrivalTime}}</span> <span class="code">{{toCode}}</span>{{/if}}
                        {{/each}}
                    </div>
                    <div class="flight-meta">
                        <span>{{duration}}</span> • <span>{{stops}} stop/s</span>
                    </div>
                </div>
                <div class="flight-price">
                    <div class="amount">${{price}}</div>
                    <span class="big-blue-radio"></span>
                </div>
            </label>
        </li>
    {{/each}}
</ul>