<ul class="itinerary-list">
  {{#each this}}
    <li class="itinerary-card">
      <div class="itinerary-line">
        {{#with parting}}
          <div class="leg">
            {{#each segments}}
              {{#if @first}}<span class="time">{{departTime}}</span>
                <span class="code">{{fromCode}}</span>{{/if}}
            {{/each}}
            <span class="arrow">→</span>
            {{#each segments}}
              {{#if @last}}<span class="time">{{arrivalTime}}</span>
                <span class="code">{{toCode}}</span>{{/if}}
            {{/each}}
            <div class="meta"><span>{{duration}}</span>
              •
              <span>{{stops}} stop/s</span></div>
          </div>
        {{/with}}
      </div>
      <div class="itinerary-line">
        {{#with returning}}
          <div class="leg">
            {{#each segments}}
              {{#if @first}}<span class="time">{{departTime}}</span>
                <span class="code">{{fromCode}}</span>{{/if}}
            {{/each}}
            <span class="arrow">→</span>
            {{#each segments}}
              {{#if @last}}<span class="time">{{arrivalTime}}</span>
                <span class="code">{{toCode}}</span>{{/if}}
            {{/each}}
            <div class="meta"><span>{{duration}}</span>
              •
              <span>{{stops}} stop/s</span></div>
          </div>
        {{/with}}
      </div>
      <div class="itinerary-price">
        <div class="amount">${{total}}</div>
        <div class="passengers">{{passengers}} passenger/s</div>
      </div>
    </li>
  {{/each}}
</ul>